.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.logo{
margin-right:20px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}
.just{
  display:flex;
  justify-content: center;
  z-index:10;
}


.yellowCard{
  width: 600px;
  height: 350px;
  background-color:white;
  justify-content: center;
  box-shadow: 1px 0px 5px -1px #ACABA3;
  align-items: center;
  border-radius: 30px;
  display:flex;
  padding:20px;
  padding-top: 5vh;
  z-index: 3;
}

.container {
  display: flex;
  /* background-color: red; */
  padding: 5vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bg {
  position: absolute;
  width:100%;
  height: 100vh;
  background-color:#FFD500;
}
.bg-img{
  position:absolute;
  z-index: 2;
  left: 1vh;
  bottom:1vh;
  width: 70vw;
  height: 70h;
}

.bg2 {
  position: absolute;
  width:100%;
  height: 100vh;
  background-color:white;
}


.blackCard{
  width: 400px;
  height: 400px;
  background-color:black;
  justify-content: center;

  align-items: center;
  border-radius: 30px;
}

.calendar {
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.title {
  margin-bottom: 5vh;
}

.react-calendar__navigation button {
  background-color: transparent !important;
  border-color: transparent !important;
}




.calendar.react-calendar__navigation__next2-button {
  display: none;
}

.whiteCard{
  width: 170vh;
  height: 35vw;
  padding: 10px;
  box-shadow: 1px 0px 5px -1px #ACABA3;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.time{

  
}
.time .mincard{
  background-color:#FFD500;
  width: 60px;
  height: 30px;
  margin:8px 8px 8px 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size:15px;
  font-weight: 700;
  border: 2px solid white;

}

.time{
  padding-bottom: 50px;
}

.mincard{
  background-color:#FFD500;
  align-self: center;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size:15px;
  font-weight: 700;
  border: 2px solid white;
}


.react-calendar__month-view__weekdays__weekday abbr{
  color:black;
  display:flex;
  justify-content: center;
  font-family: poppins;
  font-size:15px!important;
 text-decoration: unset!important;
}



.mincard-d{
  background-color:#f7edbd;
  width: 50px;
  height: 40px;
  margin:5px 6px 0px 6px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(182, 182, 182);
  font-family: Montserrat;
  font-size:15px;
  font-weight: 700;
}

.mincard:hover{
  background-color:#000000;
  border: 2px solid #000000;
  color:white;
}


.daycard{
  background-color:#ffffff;
  width: 50px;
  height: 40px;
  margin:8px 6px 0px 6px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 16px;
  font-style:normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;


}

.colSeta{
  display: flex;
  justify-content: center;
  align-items: center;

}
.seta{
  margin-bottom: 5vh;
  width: 15%;
  height:auto;
}

.invisible {
  display: none;
  border: none;
  background-color: transparent;
}

/* ------------------------ Nav bar -------------------
-------------------------------------------------------*/
.img-nav{
  width: 150px;
  max-height: 40px;
  

}

.nav-ul{
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color:white;


}

.row {
  display: flex;
  flex-direction: row;
}

.nav-ul:hover{
  font-family: Montserrat;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color:white;
  border-color:#FFD500;
  
  }

.nav-menu{

height:60px;
background-color: black;
color:white;
font-size: 20px;
padding:15px;
justify-content: left;
align-items:stretch;
flex-direction:row;
display:flex;
padding-top: 10px;
}

li {
  list-style-type: none;
  margin-right:30px;
}

.nav-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: auto!important;
  font-style: normal!important;
  text-decoration-line:transparent;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: unset!important;
}

/*------------------------ fim nav bar ---------------------*/

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}


button:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.teste{
  color:red;
  background-color: #FFD500;
}

 .in{
  border: transparent;
  border-radius:10px;
  height:30px;
  width:250px;
  padding-left: 10px;

}

.confcard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.imgStream{
  height:auto;
  width:250px;
}


.inConf{
 
  border-radius:10px;
  height:30px;
  width:350px;
  text-align: center;
  border: 1px solid rgb(172, 169, 169);

}

.imagem{
 margin-bottom:30px;

}

.in:hover {
  border: transparent;
  border-radius:10px;
  height:30px;
  width:250px;
  padding-left: 10px;
}


.btnE{

  border: transparent;
  border-radius:10px;
  height:35px;
  width:155px;
  display: flex;
  justify-content: center;
  background-color: #f1d548;
  color:black;
  align-items: center;
  font-size: 15px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  border: 2px solid #000000;
}


.btnE:hover{
background-color: #FFD500;
border-color: #FFD500;
transition: all 0.1s ease-in;
font-size: 16px;
}

.btnA{

  border: transparent;
  border-radius:10px;
  height:35px;
  width:155px;
  display: flex;
  justify-content: center;
  background-color: #f0e2a0;
  color:rgb(102, 101, 101);
  align-items: center;
  font-size: 15px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-top:30px;
  border: 2px solid white;
}

.pcard{
  margin-bottom:50px;
  margin-top:50px;
  align-items: center;
  justify-content: center;
}


.btnC{

  border: transparent;
  border-radius:10px;
  height:35px;
  width:155px;
  align-self: center;
  display: flex;
  justify-content: center;
  background-color: #f1d548;
  color:black;
  align-items: center;
  font-size: 15px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;

  border: 2px solid white;
}

.borderline{
  border-right: 0.5px solid rgb(167, 163, 163);
}

.btnC:hover{
background-color: black;
border-color: black;
color:white;
transition: all 0.1s ease-in;
font-size: 16px;
border-radius:8px;
}

.btnC:focus {
  box-shadow: 1px 1px 3px 1px #c5b641;
  }

  

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
